[submodule "async_spdk"]
	path = async_spdk
	url = https://github.com/madsys-dev/async-spdk
	branch = dev
[submodule "rust-rocksdb"]
	path = rust-rocksdb
	url = https://github.com/coolyjg/rust-rocksdb
	branch = spdk-integration
